.ShowMoreBtn {
  background-color: #2196f3;
  height: 50px;
  width: 100%;
  padding: 15px 20px;
  font-size: 12px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 5px;
}
